/* ==========================================================================
   Syntax highlighting
   ========================================================================== */

// Gruvbox Palette (Dark Hard)
$gruvbox-bg0_h: #1d2021; // background hard
$gruvbox-bg0:   #282828; // background
$gruvbox-bg1:   #3c3836; // background soft
$gruvbox-fg0:   #fbf1c7; // foreground
$gruvbox-gray:  #a89984;
$gruvbox-red:   #fb4934;
$gruvbox-green: #b8bb26;
$gruvbox-yellow: #fabd2f;
$gruvbox-blue:  #83a598;
$gruvbox-purple: #d3869b;
$gruvbox-aqua:  #8ec07c;
$gruvbox-orange: #fe8019;

div.highlighter-rouge, figure.highlight {
  position: relative;
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid var(--global-border-color);
  border-radius: $border-radius;
  background-color: $gruvbox-bg0_h;
  box-shadow: $box-shadow;
  font-size: $type-size-4;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    background-color: mix(#fff, #7a8288, 90%);
    content: "\f121";
    font-family: "Font Awesome 6 Free" !important;
    font-size: $type-size-6;
    line-height: 1;
    text-transform: none;
    speak: none;
  }

  .highlight {
    margin: 0;
    font-family: $monospace;
    font-size: $type-size-6;
    line-height: 1.8;
  }
}

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }


.highlight {
  background-color: $gruvbox-bg0_h;
  color: $gruvbox-fg0;

  .c { color: $gruvbox-gray; font-style: italic; } /* Comment */
  .err { color: $gruvbox-red; background-color: $gruvbox-red; } /* Error */
  .k { color: $gruvbox-purple; } /* Keyword */
  .l { color: $gruvbox-orange; } /* Literal */
  .n { color: $gruvbox-fg0; } /* Name */
  .o { color: $gruvbox-green; } /* Operator */
  .p { color: $gruvbox-fg0; } /* Punctuation */
  .cm { color: $gruvbox-gray; font-style: italic; } /* Comment.Multiline */
  .cp { color: $gruvbox-green; } /* Comment.Preproc */
  .c1 { color: $gruvbox-gray; font-style: italic; } /* Comment.Single */
  .cs { color: $gruvbox-green; } /* Comment.Special */
  .gd { color: $gruvbox-red; } /* Generic.Deleted */
  .ge { color: $gruvbox-fg0; font-style: italic; } /* Generic.Emph */
  .gr { color: $gruvbox-red; } /* Generic.Error */
  .gh { color: $gruvbox-blue; font-weight: bold; } /* Generic.Heading */
  .gi { color: $gruvbox-green; } /* Generic.Inserted */
  .go { color: $gruvbox-gray; } /* Generic.Output */
  .gp { color: $gruvbox-gray; } /* Generic.Prompt */
  .gs { color: $gruvbox-fg0; font-weight: bold; } /* Generic.Strong */
  .gu { color: $gruvbox-blue; font-weight: bold; } /* Generic.Subheading */
  .gt { color: $gruvbox-red; } /* Generic.Traceback */
  .kc { color: $gruvbox-orange; } /* Keyword.Constant */
  .kd { color: $gruvbox-blue; } /* Keyword.Declaration */
  .kn { color: $gruvbox-green; } /* Keyword.Namespace */
  .kp { color: $gruvbox-purple; } /* Keyword.Pseudo */
  .kr { color: $gruvbox-purple; } /* Keyword.Reserved */
  .kt { color: $gruvbox-yellow; } /* Keyword.Type */
  .m { color: $gruvbox-orange; } /* Literal.Number */
  .s { color: $gruvbox-green; } /* Literal.String */
  .na { color: $gruvbox-aqua; } /* Name.Attribute */
  .nb { color: $gruvbox-blue; } /* Name.Builtin */
  .nc { color: $gruvbox-green; } /* Name.Class */
  .no { color: $gruvbox-orange; } /* Name.Constant */
  .nd { color: $gruvbox-blue; } /* Name.Decorator */
  .ni { color: $gruvbox-orange; } /* Name.Entity */
  .ne { color: $gruvbox-red; } /* Name.Exception */
  .nf { color: $gruvbox-aqua; } /* Name.Function */
  .nl { color: $gruvbox-fg0; } /* Name.Label */
  .nn { color: $gruvbox-fg0; } /* Name.Namespace */
  .nx { color: $gruvbox-fg0; } /* Name.Other */
  .py { color: $gruvbox-fg0; } /* Name.Property */
  .nt { color: $gruvbox-blue; } /* Name.Tag */
  .nv { color: $gruvbox-blue; } /* Name.Variable */
  .ow { color: $gruvbox-green; } /* Operator.Word */
  .w { color: $gruvbox-fg0; } /* Text.Whitespace */
  .mf { color: $gruvbox-orange; } /* Literal.Number.Float */
  .mh { color: $gruvbox-orange; } /* Literal.Number.Hex */
  .mi { color: $gruvbox-orange; } /* Literal.Number.Integer */
  .mo { color: $gruvbox-orange; } /* Literal.Number.Oct */
  .sb { color: $gruvbox-green; } /* Literal.String.Backtick */
  .sc { color: $gruvbox-green; } /* Literal.String.Char */
  .sd { color: $gruvbox-gray; } /* Literal.String.Doc */
  .s2 { color: $gruvbox-green; } /* Literal.String.Double */
  .se { color: $gruvbox-orange; } /* Literal.String.Escape */
  .sh { color: $gruvbox-green; } /* Literal.String.Heredoc */
  .si { color: $gruvbox-orange; } /* Literal.String.Interpol */
  .sx { color: $gruvbox-green; } /* Literal.String.Other */
  .sr { color: $gruvbox-red; } /* Literal.String.Regex */
  .s1 { color: $gruvbox-green; } /* Literal.String.Single */
  .ss { color: $gruvbox-green; } /* Literal.String.Symbol */
  .bp { color: $gruvbox-blue; } /* Name.Builtin.Pseudo */
  .vc { color: $gruvbox-blue; } /* Name.Variable.Class */
  .vg { color: $gruvbox-blue; } /* Name.Variable.Global */
  .vi { color: $gruvbox-blue; } /* Name.Variable.Instance */
  .il { color: $gruvbox-orange; } /* Literal.Number.Integer.Long */
}
